body {
	background: none;
	padding: 20px;
}

table {
	margin: 0 auto;
	border-collapse: collapse;
	background: black;
}
td {
    width: 8em; height: 8em;
    font-size: 12px;
    visibility: visible;
}

tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
    background: white;
    
}

tr:nth-child(even) td:nth-child(even), tr:nth-child(odd) td:nth-child(odd) {
    background: black;
    
}

/*tr:nth-child(even) td:nth-child(odd), tr:nth-child(odd) td:nth-child(even) {
    background: black;
    color: white;
}*/



tr>td:hover p{
    visibility: visible;

}

tr>td:hover{
    background-color: red;

}

td>p{
    color: blueviolet;
    text-align: center;
    visibility: hidden;
}